#
.venv/
__pycache__


# Shipping a whole python lib lol. cp'd from my python
MeiLiTTs/python

# Zipped 
MeiLiTTs.zip

## OLD stuff: todo: delete
# espeak stuff
old/Resources/share/
old/Resources/bin/
old/Resources/lib

# processed (local files)
old/Resources/processed

# Build (pyinstaller)
old/build
old/dist

