#
.venv/
__pycache__


# espeak stuff
meili_tts_main/share/
meili_tts_main/bin/
meili_tts_main/lib

# processed (local files)
meili_tts_main/processed

# Build (pyinstaller)
meili_tts_main/build
meili_tts_main/dist

# Bundle
meili_tts_bundle/