#
.venv/
__pycache__


# espeak stuff
main/Resources/share/
main/Resources/bin/
main/Resources/lib

# processed (local files)
main/Resources/processed

# Build (pyinstaller)
main/build
main/dist

MeiLiTTs.app/